.back{
    background-image: url(/assets/images/h.jpg);
    background-size: 100% 100%; 
    }
    
    p{
        color: white;
        padding: 3em;
        text-align: justify;
        text-justify: inter-word;
    }
    
    footer{
        text-align: center;
        color: black;
        background-color: #B6B5A0;
    }